
a.completed{
    color: #D5D5D5;
    text-decoration: line-through;
}
a.completed:hover{
    color: #D5D5D5;
    text-decoration: line-through;
}
a.active{
    color: #6D6B6B;
    text-decoration: none;
}
a.active:hover{
    color: #6D6B6B;
    text-decoration: none;
}

tbody{
    color: #858585;
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: x-large;
    line-height: normal;
    font-family: sans-serif;
    line-height: inherit;

}
.items{
    color: #858585;
    padding: 6px 12px;
    font-size: 14px;
}
.form-input:valid {
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: x-large;
    line-height: normal;
    font-family: sans-serif;
    line-height: inherit;
    border: none
}
::-webkit-input-placeholder {
    color: #E0DDDD;
}

:-moz-placeholder { /* Firefox 18- */
    color: #E0DDDD;  
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #E0DDDD;  
}

:-ms-input-placeholder {  
    color: #E0DDDD;  
}
.a-btn{
    color: #858585;
}

.a-btn:hover {
    color:#858585;
    border:solid 1px;
    border-color: #E0DDDD;
}
.btn-btn{
    background-color: transparent;
    color: #E0DDDD;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 34px;
    line-height: 1;
    font-family: FontAwesome;
}

.btn-btn:hover {
    color: #000;
}
.btn-x-btn{
    padding: 0px 12px;
    background-color: transparent;
    color: #A00A0A;
}
.btn-x-btn:hover {
    color: #FF0000;
}
